---
layout: home
adsense: false
regenerate: true
---

<div class="ascii-hero" id="ascii-hero-container"></div>
<div class="blog-face">
    <div class="contact">
{% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}">GitHub</a>
{% endif %}
{% if site.email %}
        <a href="mailto:{{ site.email }}">Email</a>
{% endif %}
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
        <a href="/tag/">태그</a>
    </div>
</div>
<script src="/js/ascii-hero.js"></script>
<div>
    <H3 class="indent">최근 로그</H3>
    <ul class="post-list">
{% assign posts = site.posts | sort: 'date' | reverse %}
{% for post in posts limit: 10 %}
    {% if post.public == true %}
        <li>
            <div class="post-item">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                    <div class="post-meta">
                        {{ post.date | date: "%Y.%m.%d" }}
                        -
                        {{ post.title }}
                    </div>
                    <div class="post-excerpt">{{ post.summary }}</div>
                    <ul class="tag-list">
                        <li class="post-tag">{{ post.tag }}</li>
                    </ul>
                </a>
            </div>
        </li>
    {% endif %}
{% endfor %}
    </ul>
    <h4>
        <a href="/blog/">전체 로그 리스트 보기 ({{ site.posts | size }} 항목)</a>
    </h4>

    <H3 class="indent">최근 위키</H3>
    <ul class="post-list">
{% assign documents = site.wiki | sort: 'updated' | reverse %}
{% for doc in documents limit: 20 %}
    {% if doc.public == true and doc.title != 'wiki' %}
        <li>
            <div class="post-item">
                <a class="post-link" href="{{ doc.url | prepend: site.baseurl }}">
                    <div class="post-meta">
                        {{ doc.updated | date: "%Y.%m.%d" }}
                        -
                        {{ doc.title }}
                    </div>
                    <div class="post-excerpt">{{ doc.summary }}</div>
                    <ul class="tag-list">
                        <li class="post-tag">{{ doc.tag }}</li>
                    </ul>
                </a>
            </div>
        </li>
    {% endif %}
{% endfor %}
    </ul>
    <h4>
        <a href="/recent/">전체 위키 리스트 보기 ({{ site.wiki | size | minus: 1 }} 항목)</a>
    </h4>
</div>
{% include createLink.html %}
